<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<a th:href="'/user/profile'" class="btn btn-warning" style="margin-left: 10px; width: 150px; height: 50px; font-size: x-large; background-color: #cff4fc; border-color: #9eeaf9"><- Back</a>

<div class="container mt-5 mb-5">
    <h1 style="text-align: center">Add your product</h1>
    <p th:text="${error}"></p>
    <form th:action="'/user/' + ${user.getId()} + '/changeMacronutrients'" method="post">
        <p>Desired calories:</p>
        <input type="text" name="desired_calories" placeholder="Desired calories" th:value="${user.getDesired_calories()}" class="form-control"><br>
        <p>Desired proteins:</p>
        <input type="text" name="desired_protein" placeholder="Desired proteins" th:value="${user.getDesired_protein()}" class="form-control"><br>
        <p>Desired carbohydrates:</p>
        <input type="text" name="desired_carbohydrate" placeholder="Desired carbohydrates" th:value="${user.getDesired_carbohydrate()}" class="form-control"><br>
        <p>Desired fats:</p>
        <input type="text" name="desired_fat" placeholder="Desired fats" th:value="${user.getDesired_fat()}" class="form-control"><br>
        <br>
        <button type="submit" class="btn btn-success">Confirm</button>
    </form>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>