<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<div class="container mt-5 mb-5">
    <h1 style="text-align: center" th:text="${date.getDayOfMonth()} + '-'+ ${date.getMonthValue()} + '-' + ${date.getYear()}"></h1>
    <div>
        <p th:text="'Calories: ' + ${totalCalories}"/>
        <p th:text="'Proteins: ' + ${totalProtein}"/>
        <p th:text="'Carbohydrate: ' + ${totalCarbohydrate}"/>
        <p th:text="'Fats: ' + ${totalFats}"/>
    </div>
    <h1 style="text-align: center">Products</h1>
    <div th:each="eaten:${eaten}" class="alert alert-info mt-2">
        <h3 th:text="${eaten.getProductId().getName()}"/>
        <p th:text="'Quantity: ' + ${eaten.getQuantity()}"/>
        <a th:href="'/eaten/' + ${eaten.getId()} + '/details'" class="btn btn-warning">Details</a>
    </div>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>