<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<a th:href="'/user/profile'" class="btn btn-warning" style="margin-left: 10px; width: 150px; height: 50px; font-size: x-large; background-color: #cff4fc; border-color: #9eeaf9"><- Back</a>

<div class="container mt-5 mb-5">
    <h1 style="text-align: center">Edit your product</h1>
    <form th:action="'/user/' + ${user.getId} + '/edit'" method="post">
        <p>First name:</p>
        <input type="text" name="firstName" placeholder="First name" class="form-control" th:value="${user.getFirstName()}"><br>
        <p>Last name:</p>
        <input type="text" name="lastName" placeholder="Last name" class="form-control" th:value="${user.getLastName()}"><br>
        <p>Username:</p>
        <input type="text" name="username" placeholder="Username" class="form-control" th:value="${user.getUsername()}"><br>

        <br>
        <br>
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>