<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<main class="mr-10 ml-10">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">My Food</h1>
            <p class="col-md-8 fs-4">This Web-site created for help to count your calories. </p>
            <a href="/product" class="btn btn-primary btn-lg" type="button" >Add some product</a>
        </div>
    </div>

</main>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>