<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<div class="container mt-5 mb-5">

    <div th:each="unconfirmed:${unconfirmed}" class="alert alert-info mt-2">
        <h2>(Unconfirmed!)</h2>
        <h3 th:text="${unconfirmed.getName()}"/>
        <p th:text="'Calories: ' + ${unconfirmed.getCalories()}"/>
        <a th:href="'/product/' + ${unconfirmed.getId()} + '/confirmation'" class="btn btn-warning">Details</a>
    </div>

    <h1 style="text-align: center">Products</h1>
    <form th:action="@{/product}" method="get">
        <label>
            <input name="search" type="text" placeholder="Search...">
        </label>
        <button type="submit">⌕</button>
    </form>
    <div th:each="confirmed:${confirmed}" class="alert alert-info mt-2">
        <h3 th:text="${confirmed.getName()}"/>
        <p th:text="'Calories: ' + ${confirmed.getCalories()}"/>
        <a th:href="'/product/' + ${confirmed.getId()}" class="btn btn-warning">Details</a>
    </div>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>