<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<div class="container mt-5 mb-5 alert alert-info mt-2">
    <h1 style="text-align: center">Profile</h1>
    <p th:text="'Full name: ' + ${user.getLastName()} + ' ' + ${user.getFirstName()}"></p>
    <p th:text="'Username: ' + ${user.getUsername()}"></p>
    <p th:text="'Desired calories: ' + ${user.getDesired_calories()}"></p>
    <p th:text="'Desired proteins: ' + ${user.getDesired_protein()}"></p>
    <p th:text="'Desired carbohydrates: ' + ${user.getDesired_carbohydrate()}"></p>
    <p th:text="'Desired fats: ' + ${user.getDesired_fat()}"></p>


    <a th:href="'/user/profile/edit'" class="btn btn-warning">Edit profile</a>
    <br>
    <br>
    <a th:href="'/user/profile/changePassword'" class="btn btn-warning">Change password</a>
    <br>
    <br>
    <a th:href="'/user/profile/changeMacronutrients'" class="btn btn-warning">Change macronutrients</a>
    <br>
    <br>
    <a th:href="'/admin'" class="btn btn-warning" th:hidden="${hidden}">Admin panel</a>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>