<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<a href="/admin" class="btn btn-warning" style="margin-left: 10px; width: 150px; height: 50px; font-size: x-large; background-color: #cff4fc; border-color: #9eeaf9"><- Back</a>

<div class="container mt-5 mb-5">
    <h1 style="text-align: center">Users</h1>
    <form th:action="@{/admin/user}" method="get">
        <label>
            <input name="search" type="text" placeholder="Search..." th:value="${searched}">
        </label>
        <button type="submit">⌕</button>
        <br>
        <h3>Pagenation</h3>
        <label>
            Page number:
            <input name="pageNumber" type="text" placeholder="Page number" th:value="${pageNumber}">
        </label>
        <label>
            Page size:
            <input name="pageSize" type="text" placeholder="Page size" th:value="${pageSize}">
        </label>
        <button type="submit">✔</button>
    </form>
    <div th:each="user:${users}" class="alert alert-info mt-2">
        <h1 th:text="${user.getUsername()}"/>
        <p th:text="'Username: ' + ${user.getUsername()}"/>
        <p th:text="'Role: ' + ${user.getRole()}"/>
        <a th:href="'/admin/user/' + ${user.getId()}" class="btn btn-warning">Details</a>
    </div>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>