<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{blocks/header :: header}"></div>

<a href="/admin/user" class="btn btn-warning" style="margin-left: 10px; width: 150px; height: 50px; font-size: x-large; background-color: #cff4fc; border-color: #9eeaf9"><- Back</a>


<div class="container mt-5 mb-5 alert alert-info mt-2">
    <h1 th:text="${user.getUsername()}"/>
    <p th:text="'Id: ' + ${user.getId()}"></p>
    <p th:text="'First name: ' + ${user.getFirstName()}"/>
    <p th:text="'Last name: ' + ${user.getLastName()}"/>
    <p th:text="'Role: ' + ${user.getRole()}"/>
    <p th:text="'Desired calories: ' + ${user.getDesired_calories()}"/>
    <p th:text="'Desired proteins: ' + ${user.getDesired_protein()}"/>
    <p th:text="'Desired carbohydrates: ' + ${user.getDesired_carbohydrate()}"/>
    <p th:text="'Desired fats: ' + ${user.getDesired_fat()}"/>

    <br>
    <br>

    <form th:action="'/admin/user/' + ${user.getId()} + '/delete'" method="post">
        <button type="submit" class="btn btn-warning">Delete</button>
    </form>

    <br><br>
    <form th:action="'/admin/user/' + ${user.getId()} + '/changeRole'" method="post">
        <input name="role" value="toAdmin" type="radio" class="form-check-input" id="toAdmin">
        <label class="form-check-label" for="toAdmin">Make admin</label>
        <br>
        <input name="role" value="toUser" type="radio" class="form-check-input" id="toUser" checked>
        <label class="form-check-label" for="toUser">Make user</label>
        <br>

        <button type="submit" class="btn btn-warning">Change role</button>
    </form>
    <br>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>