<div th:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/product/add" class="nav-link">Add product</a></li>
                <li class="nav-item"><a href="/product" class="nav-link">Products</a></li>
                <li class="nav-item"><a href="/product/favorite" class="nav-link">Favorite</a></li>
                <li class="nav-item"><button
                        onclick="let currentDate = new Date();
                            let day = currentDate.getDate(); // Получаем текущий день месяца
                            let month = currentDate.getMonth() + 1;
                            let year = currentDate.getFullYear();
                            let eatenUrl = '/eaten/' + day + '-' + month + '-' + year;
                            window.location.href = eatenUrl;"
                        class="nav-link">Eaten</button></li>



                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li th:unless="${!#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" class="nav-link"/>
                    </form>
                </li>

                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item"><a href="/login" class="nav-link">Log in</a></li>
                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item"><a href="/user/signUp" class="nav-link">Sign up</a></li>

            </ul>
        </header>
    </div>
</div>

<script th:inline="javascript">
    // function eatenPage() {
    //     let currentDate = new Date();
    //     let day = currentDate.getDate(); // Получаем текущий день месяца
    //     let month = currentDate.getMonth() + 1;
    //     let year = currentDate.getFullYear();
    //     let eatenUrl = '/eaten/' + day + '-' + month + '-' + year;
    //     window.location.href = eatenUrl;
    // }
    //
    // document.getElementById('eatenButton').onclick = eatenPage();


</script>
